@media print {

    html, body{
        background-color: white;
    }
    .print-form{
        margin: 0;
        width: 100%;
    }

    .myDivToPrint{
        margin: 0;
        color: #000;
        background-color: #fff;
        font-size: 14px;
        height: 100%;

    }
    .nprint{
        display: none;
    }
    header,
    footer,
    aside,
    nav,
    form,
    iframe, .menu, .hero, .adslot {
        display: none;
    }

    .buttons{
        display: none;
    }

    

}

@page {
    size: 13in 8.5in;
}



.print-form{
    width: 13in;
    height: 8.5in;
   
    margin: auto;
}

.debug{
    border: 1px solid red;
}

.mynav{
    border: 5px solid blue;
}







