@media print {

    html, body{
        margin: 0;
        background-color: white;
    }
    .print-form{
        margin: 0;
        width: 100%;
    }

    .nprint{
        display: none;
    }

    header,
    footer,
    aside,
    nav,
    form,
    iframe, .menu, .hero, .adslot {
        display: none;
    }

    .buttons{
        display: none;
    }

    

}

@page {
    size: 13in 8.5in;
    margin: 0 15px;
}



.print-form{
    width: 13in;
    margin: auto;
}

.debug{
    border: 1px solid red;
}

.mynav{
    border: 5px solid blue;
}







